@import "variables.css";

html,
body {
  background-color: var(--app-bg);
  margin: 0;
  font-family: 'Averia Serif Libre', cursive;
  margin: 0 auto;
}

.site-footer,
.site-header {
  padding: 1em var(--gr-rem);
  position: relative;
  overflow: hidden;
}

.site-footer a,
.site-header a {
  text-decoration: none;
  color: inherit;
}

.site-header {
  border-bottom: 1px solid black;
  font-size: calc(1rem * var(--gr));
}

.site-footer {
  border-top: 1px solid black;
}

.archive-link {
  display: block;
  text-align: center;
  color: currentColor;
  margin: 1em 0;
}

main {
  padding: var(--gr-rem);
  width: 100%;
  box-sizing: border-box;
}

.feeds section + section {
  margin-top: calc(var(--gr-rem) * 2);
}

.feeds section h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: calc(var(--gr-rem) * 2);
}

.feed-columns {
  column-count: auto;
  column-width: 40ch;
  gap: 1rem;
}

.feed-columns article {
  break-inside: avoid;
}

.feed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(40ch, 100%), 1fr));
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.feed-grid .post-list--title {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}

.feed-grid article:hover .post-list--title {
  text-decoration: underline;
}

.feed-grid .post-list--date {
  display: block;
  text-align: center;
  font-style: italic;
}

.windy-webcam-timelapse-player-iframe {
  max-width: 500px;
  margin: 0 auto;
  filter: sepia(100%);
}


.figure figure {
  margin: 0 auto;
  display: block;
  padding: 0;
}

article footer,
article figure {
  display: grid;
  place-items: center;
}

article figure figcaption {
  font-size: 0.8rem;
  margin-top: 1rem;
  display: block;
}

nav a {
  color: currentColor;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.out-of-stock {
  filter: grayscale(100%);
  opacity: 0.8;
}

.out-of-stock .info span {
  text-decoration: line-through;
}
