.post {
  margin: 2rem;
  background-color: white;
  overflow: hidden;
  border: 1px solid #888;
}

.post h1 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 1rem;
}

.post-body,
footer {
  padding: 0 1rem;
}

date-header {
  margin-bottom: 2rem;
}

q {
  display: block;
  font-style: italic;
  margin-left: 3ex;
  padding: 0.2em 0;
}

q::before {
  content: "—";
  padding-right: 1ex;
}

picture,
img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
  user-select: none;
  pointer-events: none;
}

img {
  box-shadow: 0 2px 4px black;
  border: 10px solid white;
}

.post header,
.post footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem 0;
}