.post {
  background-color: var(--gray);
  border-radius: 16px;
  overflow: hidden;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}

.post-body {
  padding: var(--gr-em);
}

.post header {
  background-color: var(--yellow);
}

date-header {
  margin-bottom: 2rem;
}

q {
  display: block;
  font-style: italic;
  margin-left: 3ex;
  padding: 0.2em 0;
}

q::before {
  content: "—";
  padding-right: 1ex;
}

picture {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: var(--gr-em) auto;
  user-select: none;
  pointer-events: none;
  border-radius: calc(var(--gr-em) / 2);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.post header,
.post footer {
  padding: calc(var(--gr-em) / 2) var(--gr-em);
}
