.post {
  color: rgb(39 2 1);
  background-image: url('/img/bgs/grain.svg'), var(--yellow-gradient);
  background-blend-mode: multiply;
}

.post h1 {
  font-size: calc(var(--gr-em) * 1.2);
}

date-header {
  margin-bottom: 2rem;
}

q {
  display: block;
  font-style: italic;
  margin-left: 3ex;
  padding: 0.2em 0;
}

q::before {
  content: "—";
  padding-right: 1ex;
}

picture {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  user-select: none;
  pointer-events: none;
  border: calc(var(--gr-rem) / 8) solid currentcolor;
}

img {
  display: block;
  width: 100%;
}

.product picture {
  width: 300px;
}

.post header,
.post footer {
  text-align: center;
  padding: 1rem 0;
}