---
title: Djur
layout: layouts/main.vto
url: /djur/
---
<h1>Djur</h1>
<h2>Djuren på gården</h2>
<link rel="stylesheet" href="{{ '/css/product-row.css' |> url }}">
<div class="plant-archive">
  <section class="gradient-box">
    <div class="feed-columns">
      {{ set plantslist = search.pages("type=animals", "order name") }}
      {{ include "templates/plants-list.vto" }}
    </div>
  </section>
</div>
