---
title: Djur
layout: layouts/main.vto
url: /djur/
---
<h1>Djur</h1>
<h2>Djuren på gården</h2>
<link rel="stylesheet" href="{{ '/css/product-row.css' |> url }}">
<link rel="stylesheet" href="{{ '/css/animal-list.css' |> url }}">

<section>
  <div class="feed-columns animals">
    {{ set plantslist = search.pages("type=animals", "order name") }}
    {{ include "templates/animals-list.vto" }}
  </div>
</section>

