---
title: Blogg
layout: layouts/main.vto
url: /blogg/
---
<section>
  <h1>Blogg</h1>
  <div class="posts-list">
    {{ set postslist = search.pages("type=posts") }}
    {{ include "templates/posts-list.vto" }}
  </div>
</section>
