---
title: Start
layout: layouts/main.njk
---
<section class="start-feed">
  <h1>Inlägg</h1>

  {% set postslist = search.pages("type=posts") %}
  {% include "templates/posts-list.njk" %}

  <h1>Historier</h1>

  {% set postslist = search.pages("type=historic-sources") %}
  {% include "templates/posts-list.njk" %}
</section>