---
title: Produkter
layout: layouts/main.vto
url: /produkter/
---
<link rel="stylesheet" href="{{ '/css/product-row.css' |> url }}">
<div class="feeds">
  <section class="gradient-box brown">
    <h1>Produkter</h1>
    <nav class="feed-grid">
      {{ set productslist = search.pages("type=products") }}
      {{ include "templates/products-list.vto" }}
    </nav>
  </section>
</div>
