---
title: Produkter
layout: layouts/main.vto
url: /produkter/
---
<link rel="stylesheet" href="{{ '/css/product-row.css' |> url }}">
<section>
  <h1>Produkter</h1>
  <nav class="posts-list">
    {{ set productslist = search.pages("type=products") }}
    {{ include "templates/products-list.vto" }}
  </nav>
</section>
