{{ for plant of plantslist }}
  {{ if !plant.disabled }}
    <article class="product-row {{ if plant.dead }} dead{{ /if }}">
      <header class="product-header">
        <div class="info">
          <h3>{{ plant.name }} {{ if plant.sort }}'{{ plant.sort }}'{{ /if }}</h3>
          <em>{{ plant.latin }}</em>
        </div>
      </header>
      {{ if plant.dead }}<p><strong><small>DÖTT</small></strong></p>{{ /if }}
      {{ plant.content |> safe }}
    </article>
  {{ /if }}
{{ /for }}
