{% import "./macros.njk" as macros %}
{% for plant in plantslist %}
  {% if not plant.data.disabled %}
    {{ macros.plant_header_image(plant.data.latin) }}
    <article class="product-row {% if plant.data.dead %} dead{% endif %}">
      <header class="product-header">
        <div class="info">
          <h3>{{ plant.data.name }} {% if plant.data.sort %}'{{ plant.data.sort }}'{% endif %}</h3>
          <em>{{ plant.data.latin }}</em>
        </div>
      </header>
      {% if plant.data.dead %}<p><strong><small>DÖTT</small></strong></p>{% endif %}
      {{ plant.data.content | safe }}
    </article>
  {% endif %}
{% endfor %}
