{% for plant in plantslist %}
  <article class="plant-list">
    {{ plant.data.content | findImgTag | safe }}
    <aside>
      <strong>{{ plant.data.name }} '{{ plant.data.sort }}'</strong>
      <em>{{ plant.data.latin }}</em>
    </aside>
  </article>
{% endfor %}
