<ol>
  {% for post in postslist | reverse %}
  <li class="postList-post">
    <a href="{{ post.data.url | url }}" class="postList-title"{% if entry.data.url == url %} aria-current="page"{% endif %}>
      {% if post.data.title %}
        <strong>{{ post.data.title }}</strong>
      {% else %}
        <code>{{ post.data.url }}</code>
      {% endif %}
    </a>

    {% if post.data.author %}
      <span>{{ post.data.author }}</span>,
    {% endif %}

    <time class="postList-date" datetime="{{ post.data.date | date('DATETIME') }}">
      {{ post.data.date | toISODate }}
    </time>

    {% for tag in post.data.tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol>
