{% for post in postslist | reverse %}
  <article>
    <a href="{{ post.data.url | url }}">
      {% if post.data.title %}
        <strong class="post-list--title">{{ post.data.title }}</strong>
      {% else %}
        <code>{{ post.data.url }}</code>
      {% endif %}


      <p>
      {{ post.data.content | striptags | truncate(200) | trim }}
      </p>

      <time class="post-list--date" datetime="{{ post.data.date | date('DATETIME') }}">
        {{ post.data.date | toISODate }}
      </time>
    </a>

    {% for tag in post.data.tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {% endfor %}
</article>
{% endfor %}
