{% for product in productslist %}
  <div class="product-row{% if not product.data.in_stock %} out-of-stock{% endif %}">
    <a href="{{ product.data.url | url }}" class="product-header">
      {{ product.data.content | findImgTag | safe }}
      <div class="info">
        <span>{{ product.data.name }} {% if product.data.sort %}'{{ product.data.sort }}'{% endif %}</span>
        {% if not product.data.in_stock %}<small>Inte i lager</small>{% endif %}
      </div>
    </a>
  </div>
{% endfor %}
