{% for product in productslist %}
  <a href="{{ product.data.url | url }}" class="product-row">
    {{ product.data.content | findImgTag | safe }}
    <div class="info">
      {{ product.data.name }} {% if product.data.sort %}'{{ product.data.sort }}'{% endif %}
    </div>
  </a>
{% endfor %}
