<!doctype html>
<html lang="sv" translate="no">
  <head>
    <!--<base href="{{ '' | baseHref }}">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ecc07e">
    <title>{% if title %}{{ title }} - {% endif %}{% if name %}{{ name }}{% if sort %} '{{ sort }}'{% endif %} - {% endif %}Barlingshult</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/product-row.css' | url }}">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
  </head>
  <body>
    <header class="site-header">
      <a href="/">
        <strong>Barlingshult Småbruk</strong>
      </a>
      {% if url == "/" %}
      <p>
        I natursköna Glaskogen arbetas det på gården för biologisk mångfald. Alltjämt utan fossila bränslen och andra skadliga medel. Här växer mängder med bär och frukt i harmoni med pollinatörer. Både våra egna nordiska honungbin, och de vilda förstås.
      </p>
      {% endif %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="site-footer">
      Kontakt: <a href="mailto:jeremy@barlingshult.se">jeremy@barlingshult.se</a>
    </footer>
    <script defer data-domain="barlingshult.se" src="https://plausible.glate.ch/js/script.js"></script>
  </body>
</html>
