---
layout: layouts/main.njk
bodyClass: body-post
---
<script type="module" src="{{ 'js/date-header.js' | url }}"></script>
<link rel="stylesheet" href="{{ '/post.css' | url }}">
<article class="post">
  <date-header datetime="{{ date | date('DATETIME') }}">
    {{ author }}
  </date-header>

  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>

    <nav class="post-tags">
    {% for tag in tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    {% endfor %}
    </nav>
  </header>

  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
