---
layout: layouts/main.njk
bodyClass: body-post
---
<script type="module" src="{{ '/js/local-date.js' | url }}"></script>
<link rel="stylesheet" href="{{ '/css/post.css' | url }}">
<article class="post">
  <h1 class="post-title">{{ title }}</h1>

  <nav class="post-tags">
  {% for tag in tags %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  {% endfor %}
  </nav>

  <div class="post-body">
    {{ content | safe }}
  </div>

  <footer>
    {% if author %}
      Skrivet av {{ author }}
    {% endif %}
    <local-date datetime="{{ date | date('DATETIME') }}"></local-date>
  </footer>
</article>
